<div class="profile-page" style=" background-image: url('/assets/images/lines.jpg');">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="blue">
            <div class="page-header-image" data-parallax="true">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="assets/images/img3.jpg" alt="Image" />
                        </a>
                    </div>
                    <h1 class="h2 title">Kavinkumar M</h1>
                    <p class="category text-white typing" #textContainer>Software Developer</p>
                    <a class="btn btn-primary animate-zoom smooth-scroll mr-2" target="_blank"
                        href="mailto:kavinkumar025@gmail.com?subject=Regarding%20Job%20Opportunity" data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">
                        Recruit me
                    </a>
                    <a class="btn btn-secondary animate-slide smooth-scroll mr-2" data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor" (click)="downloadPDF()">
                        Grab Resume
                    </a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.linkedin.com/in/kavinkumar-m-17511b20a/" target="_blank" rel="tooltip"
                            title="Follow me on LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="javascript:void(0)"
                            (click)="openWhatsApp()" target="_blank" rel="tooltip" title="Text me on WhatsApp">
                            <i class="fa fa-whatsapp"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip"
                            title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://instagram.com/im_kavin__25?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D "
                            target="_blank" rel="tooltip" title="Follow me on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>