<section id="skill">
    <div class="container">
        <h2 class="title">Skills</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="skills-list">
                    <li>
                        <div class="skill-name">Angular (including Angular 13+)</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 90%;">95%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">Java / JavaScript / TypeScript</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 90%;">90%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">HTML5 / CSS / Bootstrap</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 85%;">85%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">RESTful API's</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 100%;">100%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">AWS CodeCommit / Git / Jenkins</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 100%;">100%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">Telerik & Kendo UI / API Integration</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 85%;">85%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">Unit Testing [Karma and Jasmine] and debugging</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 80%;">80%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">Data Modelling / SQL / Stored Procedures</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 80%;">80%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">SonarQube</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 100%;">100%</div>
                        </div>
                    </li>
                    <li>
                        <div class="skill-name">Angular 12 to 17 Migration</div>
                        <div class="bar-container">
                            <div class="bar" style="width: 100%;">100%</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="section-content">
                    <h3 class="section-title">Front-End Development</h3>
                    <p class="section-description">
                        As a Front-End Developer, I have demonstrated my creativity and skills by designing and
                        developing
                        new user interfaces for FMG clients. My expertise in Angular, coupled with the utilization of
                        Kendo
                        UI, has enabled me to work on three successful projects tailored to meet our clients' specific
                        requirements.
                    </p>
                </div>
                <div class="section-content">
                    <h3 class="section-title">Unit Testing with Karma and Jasmine</h3>
                    <p class="section-description">
                        I've honed my debugging skills and now I'm focused on learning Karma and Jasmine for effective
                        unit testing in Angular applications. Combining these abilities will enable me to deliver
                        high-quality and reliable software solutions.
                    </p>
                </div>
                <div class="section-content">
                    <h3 class="section-title">Data Modeler and Database Developer</h3>
                    <p class="section-description">
                        As a skilled Data Modeler and Database Developer, I excel in converting AS400 IBM database
                        models to
                        Redshift databases, enabling the establishment of powerful and scalable data lakes. My expertise
                        lies in architecting and designing data models that efficiently store and organize vast amounts
                        of
                        structured and unstructured data, leveraging a profound understanding of AS400 IBM database
                        systems
                        and Redshift.
                    </p>
                </div>
                <div class="section-content">
                    <h3 class="section-title">Customer-Facing Applications and In-House Projects</h3>
                    <p class="section-description">
                        Over the past six months, I have independently managed customer-facing applications in insurance
                        and payment.
                        Additionally, I have worked on over five in-house applications, including migrating from Angular
                        12 to 17 and
                        addressing Karma and Jasmine unit test cases. These experiences have strengthened my ability to
                        handle complex
                        projects and ensure high-quality outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>