<section id="skill">
    <div class="container">
        <h2 class="title">Skills</h2>
        <ul class="skills-list">
            <li>
                <div class="skill-name">Angular (including Angular 13+)</div>
                <div class="bar-container">
                    <div class="bar" style="width: 90%;">90%</div>
                </div>
            </li>
            <li>
                <div class="skill-name">Java / JavaScript / TypeScript</div>
                <div class="bar-container">
                    <div class="bar" style="width: 80%;">80%</div>
                </div>
            </li>
            <li>
                <div class="skill-name">HTML5 / CSS / Bootstrap</div>
                <div class="bar-container">
                    <div class="bar" style="width: 75%;">75%</div>
                </div>
            </li>
            <li>
                <div class="skill-name">RESTful APIs</div>
                <div class="bar-container">
                    <div class="bar" style="width: 85%;">85%</div>
                </div>
            </li>
            <li>
                <div class="skill-name">TortoiseSVN / Jenkins</div>
                <div class="bar-container">
                    <div class="bar" style="width: 100%;">100%</div>
                </div>
            </li>
            <li>
                <div class="skill-name">Telerik & Kendo UI / API Integration</div>
                <div class="bar-container">
                    <div class="bar" style="width: 75%;">75%</div>
                </div>
            </li>
            <li>
                <div class="skill-name">Testing <b>[Karma and Jasmine] </b> and debugging</div>
                <div class="bar-container">
                    <div class="bar" style="width: 80%;">80%</div>
                </div>
            </li>
            <li>
                <div class="skill-name">Data Modelling - AS400 to Amazon RedShift</div>
                <div class="bar-container">
                    <div class="bar" style="width: 60%;">60%</div>
                </div>
            </li>
        </ul>
    </div>
</section>