<section class="education" id="experience">
    <div class="container">
        <h2 class="title">Experience</h2>
        <div class="education-list">
            <div class="education-item">
                <div class="education-header">
                    <div class="date">12 Days</div>
                    <div class="degree">Implant Training</div>
                </div>
                <div class="education-details">
                    <h3 class="institute">Python</h3>
                    <p>I completed a 12-day Python implant training at Durga Tech in Erode,
                        Tamil Nadu</p>
                    <p>where I gained
                        valuable hands-on experience and a strong foundation in Python programming.</p>
                </div>
            </div>
            <div class="education-item ">
                <div class="education-header">
                    <div class="date">30 Days</div>
                    <div class="degree">Internship</div>
                </div>
                <div class="education-details">
                    <h3 class="institute">Data Analysis</h3>
                    <p>I participated in a 30-day Data Analysis program at Prayoga
                        Technologies.</p>
                    <p>where I honed my skills
                        in data analysis techniques and tools, preparing me for real-world data challenges.</p>
                </div>
            </div>
            <div class="education-item">
                <div class="education-header">
                    <div class="date">SEP 2022 - Present</div>
                    <div class="degree">Full-time Job</div>
                </div>
                <div class="education-details">
                    <h3 class="institute">Angular Developer</h3>
                    <p> Successfully completed Two years as an <strong>Angular Developer</strong> at Aseuro Technologies.
                    </p>
                    <p>collaborating on
                        various projects and gaining extensive experience in building dynamic and interactive web
                        applications using Angular framework. </p>
                    <p>My time at Aseuro Technologies significantly enhanced my
                        expertise in frontend development and problem-solving in the web development domain.</p>
                </div>
            </div>
        </div>
    </div>
</section>