<div class="section" id="about">
    <div class="container">
        <div class="card" [@colorChangeAnimation]="currentColor" [@fadeInAnimation] data-aos="fade-up"
            data-aos-offset="10">
            <div class="col-lg-12 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title">About</div>
                    <hr>
                    <p>
                        I am a highly skilled <b [@textColorChange]="currentColor">Angular Developer</b>
                        with a passionfor solving complex problems in creative ways.
                        With one year of professional experience in the field, I have honed my expertise in Angular and
                        leveraged it to deliver exceptional results for my clients.
                    </p>
                    <strong>Technical Proficiencies</strong>
                    <hr>
                    <ul>
                        <li>Angular (including Angular 13+)</li>
                        <li>Java / JavaScript / TypeScript</li>
                        <li>HTML5 / CSS / Bootstrap</li>
                        <li>RESTful APIs</li>
                        <li>TortoiseSVN / Jenkins</li>
                        <li>Telerik & Kendo UI / API Integration</li>
                        <li>Testing <b>[Karma and Jasmine] </b> and debugging</li>
                        <li>Data Modelling - AS400 to Amazon RedShift</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>