<div class="section" id="about">
    <div class="container">
        <div class="card" [@colorChangeAnimation]="currentColor" [@fadeInAnimation] data-aos="fade-up"
            data-aos-offset="10">
            <div class="col-lg-12 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title">About</div>
                    <p>
                        I am a highly skilled
                        <b [@textColorChange]="currentColor"> Angular Developer </b>
                        with a passionfor solving complex problems in creative ways.<b
                            [@textColorChange]="currentColor">
                            With one year of professional experience</b>
                        in the field, I have honed my expertise in Angular and
                        leveraged it to deliver exceptional results for my clients.
                    </p>
                    <p>
                        <b [@textColorChange]="currentColor"> Objective </b> - Seeking a challenging position in a reputed
                        organization where I can learn new skills, expand my
                        knowledge, and leverage my learnings. I am looking for an opportunity to make the best of my
                        potential and <b [@textColorChange]="currentColor"> contribute to the organization's growth </b>.
                    </p>
                    <p>
                        Collaborated with cross-functional teams to develop scalable and robust web applications using
                        <b [@textColorChange]="currentColor"> Angular </b> and other cutting-edge technologies.
                    </p>
                    <p>Solved complex technical challenges by <b [@textColorChange]="currentColor"> analyzing
                            requirements </b>, <b [@textColorChange]="currentColor"> troubleshooting issues </b>, and
                        <b [@textColorChange]="currentColor"> devising creative solutions </b>.
                        Conducted thorough testing and debugging to ensure high-quality, bug-free code.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>