<div class="section" id="about">
    <div class="container">
        <div class="card" [@colorChangeAnimation]="currentColor" [@fadeInAnimation] data-aos="fade-up"
            data-aos-offset="10">
            <div class="col-lg-12 col-md-12">
                <div class="card-body">
                    <div class="h4 mt-0 title">About</div>
                    <p>
                        Hi! I am <b [@textColorChange]="currentColor">Kavinkumar M</b>, a passionate and driven
                        22-year-old professional with one year of
                        hands-on experience in Angular. I also have a keen interest in other domains
                        like Java (currently learning) and Data Modelling, recognizing the importance of staying
                        versatile in the ever-evolving technology landscape.
                    </p>
                    <p><strong>Experience:</strong> <br>
                        During the past year, I focused on honing my skills in Angular through various projects. As a
                        result, I gained practical knowledge in front-end development, user interface design, and
                        responsive web applications. I have become proficient in building dynamic and interactive web
                        solutions while prioritizing enhanced user experiences and effective teamwork.</p>
                    <p> <strong>Objectives:</strong> <br>
                        Now, I am eager to secure a challenging position in a reputed organization that encourages
                        continuous learning and professional growth. My objective is to contribute
                        my existing skills while actively acquiring new ones. I aim to deliver innovative and
                        cutting-edge solutions that push the boundaries of technology.</p>
                    <p>I am determined to be part of a dynamic team that fosters creativity and values collaboration. I
                        believe this will provide me with the opportunity to make the best use of
                        my potential, share my ideas, and contribute significantly to the organization's growth and
                        success.</p>
                    <p>With a strong work ethic, adaptability, and an insatiable thirst for knowledge, I am confident in
                        my ability to bring valuable insights and fresh perspectives to any project.
                        I am excited to embark on this new journey and make a positive impact on the technological
                        landscape.</p>
                    <p>Thank you for considering my profile, and I invite you to visit my LinkedIn profile for more
                        details about my experience and achievements.
                    </p>
                    <p> Best Regards, <br> <b [@textColorChange]="currentColor">Kavinkumar M</b> </p>
                </div>
            </div>
        </div>
    </div>
</div>