.cc-reference p {
  font-weight: 1000px;
  color: black;
  font-style: bold;
}

.category p {
  width: 10%
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #333;
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}