<section class="education" id="education">
    <div class="container">
        <h2 class="title">Education</h2>
        <div class="education-list">

            <!-- SSLC Education Item -->
            <div class="education-item">
                <div class="education-header">
                    <div class="date">2014 - 2016</div>
                    <div class="degree">SSLC</div>
                </div>
                <div class="education-details">
                    <h3 class="institute">Adharsh Vidhyalaya Higher Secondary School</h3>
                    <p class="info">Secondary School Leaving Certificate</p>
                    <br>
                    <p class="result">My Secondary school performance yielded an outstanding result of <b> 84% </b>.</p>
                </div>
            </div>

            <!-- HSC Education Item -->
            <div class="education-item">
                <div class="education-header">
                    <div class="date">2016 - 2018</div>
                    <div class="degree">HSC</div>
                </div>
                <div class="education-details">
                    <h3 class="institute">Kongu National Matriculation Higher Secondary School</h3>
                    <p class="info">Higher Secondary Certificate</p>
                    <br>
                    <p class="result">My high school performance yielded an outstanding result of <b> 69% </b>.</p>
                </div>
            </div>

            <!-- B.E - CSE Education Item -->
            <div class="education-item">
                <div class="education-header">
                    <div class="date">2018 - 2022</div>
                    <div class="degree">B.E - CSE</div>
                </div>
                <div class="education-details">
                    <h3 class="institute">Velalar College of Engineering and Technology</h3>
                    <p class="info">Bachelor of Engineering</p>
                    <br>
                    <p class="result">My College performance yielded an outstanding result of <b> 8.35 CGPA </b>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
