<div>
    <h2 class="about_subtitle" data-aos="fade-down" data-aos-delay="350">
      I'm Kavinkumar.
    </h2>
    <p class="about_text" data-aos="fade-down" data-aos-delay="450">
      I am a highly skilled <b> Angular Developer </b> with a passion for solving complex problems in creative
      ways. With
      one year of professional experience in the field, I have honed my expertise in Angular and leveraged it to
      deliver exceptional results for my clients.</p>
    <br>
  
      <strong>Technical Proficiencies</strong>
      <br>
      <hr>
    <ul>
      <li> Angular (including Angular 13+)</li>
      <li>JavaScript / TypeScript</li>
      <li>HTML5 / CSS / Bootstrap</li>
      <li> RESTful APIs</li>
      <li>TortoiseSVN / Jenkins</li>
      <li>Telerik & Kendo UI / API Integration</li>
      <li>Testing and debugging</li>
    </ul></div>
    